.banner {
  height: 90vh;
  width: 100vh;
  margin-top: 30px;
  margin-left: 70px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.typing{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

.banner__title_head {
  text-align: left;
  font-weight: 600;
  font-size: 80px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid wheat;
}

.banner__title_head font {
  color: greenyellow;
}

.banner__title_tail {
  text-align: left;
  margin-top: 10px;
  color: rgb(255, 243, 221);
  margin-left: 10px;
  margin-right: 10px;
}

.banner__buttons {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}

.banner__button {
  color: #ffffff !important;
  background-color: rgb(0, 0, 0,0.6) !important;
  padding: 16px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
  /* margin-right: 30px !important; */
  text-decoration: none;
  border-radius: 6px;
}

.banner__button:hover {
  background-color: rgb(0, 0, 0,1.0) !important;
  color: greenyellow !important;
  font-size: 18px !important;
  transition: all 0.5s ease-in-out;
}

.banner__socialMedia {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.social_icon_linkedin {
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: rgb(0, 0, 0, 0.9);
  color: #0077b5;
  padding: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out !important;
}

.social_icon_github {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: rgb(0, 0, 0, 0.9);
  color: #6cc644;
  padding: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out !important;
}

.social_icon_linkedin:hover {
  background-color: #fff;
  border-radius: 50%;
}

.social_icon_github:hover {
  background-color: #fff;
  border-radius: 50%;
  color: green;
}
